body{
  background-color: #fff7ef;
  font-family: "Poppins", sans-serif;
  
  
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.card {
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 350px;
  
}
 
.card-img2 .card-img3.card-img4{
  width:20px;
  height:20px;  
}
.card-img2{
  position: absolute;
}
.card-img3{
  position: relative;
left: 3%;}
.card-img4{
  position:relative;
right: 2%;}
.card-img5{
  position:relative;
right: 7%;}

.card-p{
  text-decoration: underline;
  padding-left: 160px;
}
.card-img1 {
  width: 100%;
  border-radius: 5px;
}

.card-content {
  text-align: left;
}

.card-content h2 {
  margin-top: 0;
}

.card-content button {
  background-color: #ed6d64;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  
}

.horizontal-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.navigation {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: px;
}

.navigation li {
  margin-right: 20px;
}

.navigation a {
  text-decoration: none;
  color: #333; 
  font-weight: bold;
}

.navigation button {
  background-color: #ed6d64;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 30px;
}

.content {
  text-align: center; 
}

.Event-1 {
  font-size: 2em; 
  color: #333; 
  margin-bottom: 20px;
}

.button-2 {
  background-color: #000000; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 30px;
}


.container {
  max-width: 800px; 
  margin: 0 auto; 
  padding: 20px;}




