.Ahoy {
  width: 48px;
  height: 27px;
  margin: 8px 472px 45px 0;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ed6d64;
  cursor: pointer;
  padding:18px 0 0 212px ;
  
}

.Events {
  width: 52px;
  height: 24px;
  margin: 8px 40px 48px 77px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  cursor: pointer;
}
.Community {
  width: 95px;
  height: 24px;
  margin: 8px 40px 48px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  cursor: pointer;
}
.Profiles {
  width: 57px;
  height: 24px;
  margin: 8px 6px 48px 40px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  cursor: pointer;
}

.button-1{
  width: 119px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 0 40px 40px;
  padding: 8px 25px;
  border-radius: 20px;
  background-color: #ed6d64;
  cursor:grab
}

.Rectangle-18 {
  width: 1440px;
  height: 1477px;
  padding: 10px 212px 887px;
  background-color: #fff7ef;
}

.Event-1 {
  padding: 0 0 0 212px;
  width: 134px;
  height: 60px;
  margin: 40px 386px 40px 0;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.frame-2{
  margin-left: 420px;
}
.button-2{
  width: 153px;
  height: 40px;
  color:white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 50px 0 50px 6px;
  padding:8px 25px;
  border-radius: 20px;
  background-color: #000;
  cursor: grab;
}

.flex-container .box-1{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}
.box-1{
  margin-left:200px ;
}
.box-2{
  margin-left:50px ;
}

img{
  width: 495px;
  height: 200px;
  flex-grow: 0;
  margin: 0 0 0 1px;
  padding: 30px 266px 65px 29px;
}
.Rectangle-23 {
  width: 496px;
  margin:20px solid black;
  height: 200px;
  flex-grow: 0;
  margin: 0 0 0;
  padding: 5px 5px 5px 5px;
  background-color:white;
}

.StarkCon-IIT-Madras {
  width: 266px;
  height: 39px;
  flex-grow: 0;
  margin: 0 48px 0 0;
  font-family: Poppins;
  font-size: 26px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.IITM-Research-Park {
  width: 148px;
  height: 24px;
  flex-grow: 0;
  margin: 39px 166px 10px 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ed6d64;
}

.The-future-of-Web3-The-StarkWare-ZKX-Community-building-in-Web3 {
  width: 330px;
  height: 48px;
  flex-grow: 0;
  margin: 10px 98px 10px 0;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.Mangae-Event {
  width: 114px;
  height: 24px;
  flex-grow: 0;
  margin: 15px 0 1px 48px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}